<form class="login-form">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" id="email-login" class="form-control" aria-label="email" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
        </div>
        <input type="password" id="password-login" class="form-control" placeholder="Must be atleast 9 characters" aria-label="password-login" aria-describedby="basic-addon1">
    </div>

    <br>

    <button type="submit" class="btn btn-secondary">Login</button>

    <a href="/signup">Need to sign up?</a>
</form>

<hr><br>



<script src="/js/login.js"></script>