<form class="signup-form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Username</span>
    </div>
    <input type="text" id="user-signup" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email</span>
    </div>
    <input type="text" id="email-signup" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input type="text" id="password-signup" class="form-control" placeholder="Must be at least 9 characters" aria-label="Password" aria-describedby="basic-addon1">
  </div>

  <br>

  <button type="submit" class="btn btn-success">Submit</button>

  <a href="/login">Already have a login?</a>
</form>

<hr><br>

<script src="/javascript/signup.js"></script>